<h4>Add New Post</h4>
<%= form_for(@post) do |f| %>
  <%= f.label "post", "Title" %>
  <%= f.text_field :title %>
  <br/><br/>
  <%= f.label "post", "Description" %>
  <%= f.text_area :description, :cols => 42 , :rows => 5 %>
  <br/><br/>
  <%= f.submit %>
<% end %>
